.DS_Store
.idea
.idea/*
.vscode/*

*.pyc
./*/*.pyc
./*/*/*.pyc
./*/*/*/*.pyc
./*/*/*/*/*.pyc
./*/*/*/*/*/*.pyc

*.log
*.json

wandb
./*/wandb
./*/*/wandb
./*/*/*/wandb
./*/*/*/*/wandb
./*/*/*/*/*/wandb


checkpoint
*.pt

*.h5

# data
*.rar
*.csv
*.dat
cifar-10-batches-py
*.tar.gz
data/cifar-10-python.tar.gz
*.png
*.zip
*.json

data/*

pytorch_gpu_memory
*.pdf

__pycache__/*
